Django>=5.0,<6.0
djangorestframework>=3.14,<4.0
psycopg2-binary>=2.9,<3.0
django-cors-headers>=4.0,<5.0
gunicorn
django-allauth>=0.54,<0.60
django-crispy-forms>=2.0,<3.0
crispy-bootstrap5>=0.7,<1.0
dj-rest-auth
channels==4.0.0
daphne==4.0.0
django-jazzmin
django-grappelli==3.0.7
python-dotenv
djangorestframework-simplejwt
dj-database-url
channels_redis